/*general styles for all pages*/

body {
  font-family: 'Raleway', helvetica;
  margin: 0;
  background-color: #EEEEEE;
}


h3 {
  line-height: 1.6;
}

p {
  font-family: 'Roboto', helvetica;
  font-size: 1em;
  color: #303030;
}

/*#about-footer {
    position: absolute;
    bottom: 25px;
    padding: 0;
}*/

#about-container {
  padding-bottom: 30px;
}

#resume {
  color: #F58FCB;
  text-decoration: none;
  font-size: 1.5em;
}

#resume:hover {
  color: #303030;
}

#credit {
  float: right;
  font-family: 'Raleway', Helvetica;
  /* bottom: 25px;
  padding-right: 20px;
  text-align: right; */
  margin: 0;
  position: relative;
  bottom: 5px;
}

/*#credit-footer {
  position: relative;
  top: 25px;
  font-family: 'Raleway', Helvetica;
  padding-right: 20px;
  float: right;
}*/

footer {
  padding: 40px;
  padding-left: 0;
  background-color: white;
}

footer ul {
  position: relative;
  bottom: 5px;
  padding: 0;
  float: left;
}

footer ul li {
  margin: 20px;
  list-style: none;
  display: inline;
}

footer ul li a:link, footer ul li a:visited {
  color: #303030;
  text-decoration: none;
}

.container-fluid {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.container {
    top: 0;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}

.nav li, .navbar-brand {
  font-size: 1.3em;
  margin: 10px;
}

.navbar-toggle {
  margin-top: 17px;
}

.top-buffer {
  margin-top: 150px;
}

.top-small-buffer {
  margin-top: 30px;
}

.top-large-buffer {
  margin-top: 250px;
}

.bottom-buffer {
  margin-bottom: 50px;
}

.bottom-large-buffer {
  margin-bottom: 100px;
}

.image {
  position: relative;
}

.image img {
    width: 100%;
    vertical-align: top;
}

.image:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.4);
    transition: all 1s;
    -webkit-transition: all 1s;
}

.bring-up {
  position: relative;
  top: -100px;
}

.fadeInBlock {
    opacity: 0;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /*background-color: red;*/
}

ul.img-list li {
  display: inline-block;
  position: relative;
  width: 568px;
  /*background-color: blue;*/
}

/*ul.img-list li a {
  width: 100%;
  height: 100px;
}*/

ul.img-list li img {
  width: 568px;
  height: 321px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 321px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

#banner-container {
  position: relative;
}

#banner-text {
  position: absolute;
  text-align: center;
  top: 50%;
  color: white;
  font-weight: bold;
}
/*end general styles for all pages*/

/*About page elements*/

#aboutImage, #about, #me, #description {
  position: relative;
}

#aboutImage {
  z-index: -100;
  top: -75px;
  padding: 0;
}


#about, #me {
  text-align: center;
  font-size: 4em;
  top: 50px;
  font-weight: bold;
}

#me {
  text-align: left;
}

#about {
  color: white;
  padding-right: 25px;
  text-align: right;
}

#description {
  top: 200px;
  padding: 20px;
}

#hi {
  font-weight: bold;
  font-size: 2em;
}

/*end About Page Elements*/

/*Study Abroad Page Elements*/

#banner {
  width: 100%;
}

.gradient::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, black 200%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}

#banner-header {
  position: relative;
  top: -100px;
  color: white;
  font-size: 3em;
  font-weight: bold;
}

#proscuitto {
  position: relative;
  text-align: center;
  font-size: 1.5em;
  font-family: Raleway, helvetica;
  top: 50px;
  margin-bottom: 100px;
  font-weight: bold;

}

.minor-header {
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  /*position: relative;*/
  /*top: 50px;*/
}

.side-text {
  position: relative;
  text-align: left;
}

#travel {
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 100px;
}

.full {
  width: 100%;
  text-align: center;
  font-family: Raleway;
}

/*end abroad element styles*/

/*studio art styles*/

#studio {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 300px;
  margin-bottom: 400px;
}

#still, #pastel, #drawing, #printmaking, #metalsmithing {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  position: relative;
}

#still {
  top: 130px;
}

#pastel {
  top: 90px;
}

#drawing {
  top: 70px;
}

#printmaking {
  top: 50px;
}

#ring, #state {
  transform: rotate(90deg);
}

#metalsmithing {
  top: 25px;
}

.drop {
  position: relative;
  top: 75px;
}

#metalsmithing-space {
  margin-top: 70px;
}

/*end studio art styles*/

/*design syles*/

#intro-text {
  text-align: center;
  margin-bottom: 300px;
}

.white {
  background: white;
  width: 100%;
  height: 1024px;
  margin: 0;
}

.white-container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: block;
  margin: auto;
  /* border: solid 4px black; */
}

.grey {
  height: 1024px;
}

.left-section {
  float: left;
  height: 100%;
  width: 50%;
  /* border: solid 4px pink; */
  display: inline-block;
  white-space: nowrap;
}

.right-section {
  float: left;
  height: 100%;
  width: 50%;
  /* border: solid 4px blue; */
  display: inline-block;
  white-space: nowrap;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vertical-center, .vertical-center-edu, .vertical-center-cloud, .vertical-center-forefront, .vertical-center-fantasy {
  /* background: green; */
  height: 30%;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.vertical-center-edu {
  /* background: yellow; */
  height: 50%;
}

.vertical-center-cloud {
  /* background: yellow; */
  height: 42%;
}

.vertical-center-forefront {
  /* background: yellow; */
  height: 50%;
}

.vertical-center-fantasy {
  /* background: purple; */
  height: 50%;
}

.project-name:link, .project-name:visited {
  color: #303030;
  font-weight: 700;
  font-size: 64px;
  transition: all .4s ease;
}

.project-name:hover {
  text-decoration: none;
  color: #F58FCB;
  transition: all .4s ease;
}

.project-description {
  margin-top:48px;
  font-family: Roboto, sans-serif;
  font-size: 16pt;
  white-space: normal;
}

#fantasy {
  font-size:60px;
}
