/*general styles for all pages*/

body {
  font-family: 'Raleway', helvetica;
  margin: 0;
  background-color: #EEEEEE;
}

.container-fluid {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}

h2,p {
  /*margin-left: 15px;*/
  /*margin-right: 15px;*/
}

p {
  font-family: 'Roboto', helvetica;
}

img {
  width: 100%;
}

.image {
  position: relative;
  top: -20px;
}

.image:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.4);
    transition: all 1s;
    -webkit-transition: all 1s;
}

footer {
  padding: 17px;
  text-align: center;
  background-color: white;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
  margin: 10px;
  list-style: none;
  display: inline;

}

footer ul li a:link, footer ul li a:visited {
  color: black;
  text-decoration: none;
}

#credit {
  font-family: 'Raleway', Helvetica;
  position: relative;
  top: 10px;
  width: 100%;
  text-align: center;
}

.top-buffer {
  padding-top: 50px;
}

.top-small-buffer {
  padding-top: 30px;
}

.top-large-buffer {
  padding-top: 150px;
}

.bottom-buffer {
  padding-bottom: 75px;
}

.bottom-large-buffer {
  padding-bottom: 150px;
}


/*About*/
#about {
  margin-bottom: 0;
  color: white;
  font-size: 3em;
  font-weight: bold;
  top: -20px;
}

#me {
  margin-top: 5px;
  color: white;
  font-size: 3em;
  font-weight: bold;
  top: -20px;
}

#aboutImage {
  z-index: -100;
  top: -147px;
  padding: 0;
  margin: 0;
  width: 100%;
}

#hi {
  font-size: 3em;
}

#description {
  top: -125px;
}

#about-footer {
  width: 100%;
  /*text-align: center;*/
  bottom: 20px;
}

#resume {
  color: #F58FCB;
  text-decoration: none;
}

#resume:hover {
  color: black;
}

@media (orientation: portrait) {
  #about-footer, #credit-footer {
    position: fixed;
  }
}

#credit-footer {
  font-family: 'Raleway', Helvetica;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/*Studio*/

/*#banner-title, #banner-header {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 125px;
  color: white;
}*/

#banner-container {
  position: relative;
  /*position: absolute;*/
}

#banner-text {
  position: absolute;
  top: 30%;
  color: white;
  font-weight: bold;
  text-align: center;
}

#still {
  text-align: center;
  padding-top: 25px;
}

#pastel {
  text-align: center;
  padding-top: 35px;
}

#drawing {
  text-align: center;
  top: 55px;
  position: relative;
}

#printmaking {
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 1.2em;
}

#ring, #state {
  transform: rotate(90deg);
}

#metalsmithing {
  text-align: center;
  font-size: 1.3em;
}

/*design*/

#intro-text {
  text-align: center;
  font-size: 24px;
  margin-bottom: 175px;
}

.white, .grey {
  padding-top: 50px;
  padding-bottom: 50px;
}

.white {
  background: white;
  width: 100%;
  margin: 0;
}

.white-container {
  height: 100%;
}

.left-section {
  height: 200px;
}

.project-name {
  padding-top: 50px;
  color: #303030;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
}

.project-description {
  color: #303030;
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
  clear: left;
}

.project-name:link, .project-name:visited {
  transition: all .4s ease;
}

.project-name:hover {
  text-decoration: none;
}

.project-name:active {
  text-decoration: none;
  color: #F58FCB;
  transition: all .1s ease;
}

.minor-header {
  text-align: left;
}

.raise {
  position: relative;
  top: -75px;
}

/*blog*/
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /*background-color: red;*/
}

ul.img-list li {
  display: inline-block;
  position: relative;
  width: 320px;
}

ul.img-list li img {
  width: 320px;
  height: 180px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

/*abroad*/

.side-text {
  text-align: left;
}

#travel, .full {
  text-align: center;
}

.full {
  font-family: 'Raleway';
}
